[MESSAGES CONTROL]
disable = [
    "missing-function-docstring",
    "missing-final-newline",
    "missing-class-docstring",
    "missing-module-docstring",
    "invalid-name",
    "too-few-public-methods",
    "import-error",
    "line-too-long",
    "trailing-whitespace",
    "trailing-newlines",
    "wrong-import-position"
]

[pylint.plugins]
load-plugins =
    pylint_flask
