[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
test = {editable = true, path = "."}
scikit-learn = "==1.2.2"
flask = "*"
mlflow = "==2.3.1"
boto3 = "*"

[dev-packages]
requests = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.8"
